body {
	font-family: Arial, Helvetica, sans-serif;
}
.col {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.container {
	border-width: 5px;
    box-sizing: border-box;
	float: center;
	width: 400px;
	margin-top: 0px;
}

.inbox-list {
    text-align: center;
    background-color: rgb(207, 230, 230);
    border-radius: 4px;
    text-decoration-color: black;
    border: 1px solid white;
    padding-bottom: 10px;

}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #777;
    box-sizing: border-box;
	border-radius: 4px;
}

button {
    background-image: linear-gradient(#4FBF4F, #2F8F2F);
    color: #FFFFFF;
    padding: 12px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
	border-radius: 4px;
    width: 75%;
}

button:hover {
    opacity: 0.75;
}

.receive {
    background: #D7D7D7;
    color: #000000;
    padding: 4px 12px;
	border-radius: 8px;
}

.init {
    margin-left: 0px;
    margin-right: 25%;
}
.send {
    background: #3F2FDF;
    color: #FFFFFF;
    padding: 4px 12px;
	border-radius: 8px;
}

.logobtn {
	background-color: Transparent;
	background-image: url('../../logo.png');
	background-size: 250px 174px;
    padding: 0px 0px;
    width: 250px;
	height: 174px;
	float: center;
    margin-bottom: 0px;
}

.post {
        background-color: Transparent;
        background-size: 250px 174px;
        padding: 0px 0px;
        width: 250px;
        height: 174px;
        float: center;
        margin-bottom: 0px;
}

.settingsbtn {
	background-color: Transparent;
	background-image: url('../../settings.png');
    padding: 0px 0px;
    width: 200px;
	height: 100px;
	float: center;
	margin-bottom: 0px;
}

.logobtn:hover {
    opacity: 1.0;
}

.cancelbtn {
    padding: 12px 0px;
    width: 22%;
    background-image: linear-gradient(#DF4F4F, #9F2F2F);
	float: right;
}

.sendbtn {
	margin-top: 59px;
    padding: 12px 0px;
    width: 18%;
    float: right
}

.registerbtn {
    padding: 16px 20px;
    width: 100%;
    background-image: linear-gradient(#4F4FBF, #2F2F9F);
}

.container {
    padding: 16px;
}

.error {
    border: 1px solid red;
}